@{
    ViewData["Title"] = "Index";
}

<div class="Agenda">
    <div class="costado">
        <h1>Agenda</h1>
        <p>Entrevistas</p>
        <p>Postulaciones</p>
        <p>Entregas</p>
    </div>
</div>

<iframe src="https://calendar.google.com/calendar/embed?src=332618d6c9f6603ccf716c0dc252b0dc5fa05c48359bfcf7258fe02dbb86d628%40group.calendar.google.com&ctz=America%2FArgentina%2FBuenos_Aires" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
