@{
    ViewData["Title"] = "Agenda";
}

<div class="Agenda">
    <div class="costado">
        <h1>Agenda</h1>
        <p>Entrevistas</p>
        <p>Postulaciones</p>
        <p>Entregas</p>
    </div>
    <div id="calendar-events">
        <!-- Calendar events will be loaded here -->
    </div>
</div>

<script src="~/js/calendarAPI.js" asp-append-version="true"></script>