<div class="row" style="min-height: 100vh;">
    <div class="col-sm-2 bg-white pt-5">
        <h1 class="text-center fw-bold">Community</h1>
        <div class="container pb-5 ps-5 pe-5">
            <h3 class="text-start mt-4">Filtros</h3>
            <hr>
            <div class="d-flex flex-column align-items-start">
                <p class="mb-2 fw-bold">C#</p>
                <p class="mb-2 fw-bold">JavaScript</p>
                <p class="mb-2 fw-bold">Illustrator</p>
                <p class="mb-2 fw-bold">Backend</p>
            </div>
        </div>
    </div>

    <div class="col-sm-10 bg-success pt-5 text-white d-flex justify-content-center">
        <div class="bg-white text-dark p-3 shadow-sm" style="width: 60vw; height: 15vh; border-radius: 30px;">
            <div class="d-flex align-items-center">
                <img src="https://via.placeholder.com/50" class="rounded-circle me-3" style="height: 12vh; width: 7vw;" alt="User profile image">
                <div class="row">
                    <p class="mb-0 ps-5 h5">Alguien que sepa sobre CSHTML que quiera ser parte de un proyecto con fines educativos?</p>
                </div>
            </div>
        </div>
    </div>
</div>
