@{
    ViewData["Title"] = "Index";
}
<div class = "Com">
<div class= "aside">
    <h1>Communnity</h1>
    <h3>Filtros</h3>
    <div class= "entreLineas">
    <p>C#</p>
    <p>JavaScript</p>
    <p>CSS</p>
    <p>Backend</p>
    </div>
</div>
<div class= "contentCom">
    <div class="d-flex justify-content-center mt-5">
        <input class="bg-light ps-5 shadow" type="text" placeholder="Search a question" style="border: 0; min-height: 4vh; min-width: 30vw; border-top-left-radius: 150px; border-bottom-left-radius: 150px">
        <button class="bg-secondary shadow" style="border: 0; min-width: 5vw; border-top-right-radius: 150px; border-bottom-right-radius: 150px;">
    </div>
    
    <button> Preguntar </button>
    <div class= "question"></div>  
    <div class= "question"></div>
    <div class= "question"></div>

</div>
</div>
