<div class="Index d-flex align-items-center" style="height: 90.5vh; background-color: #444;">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6" style=" border-left: 11px solid white">
                <h1 class="text-white fw-bold" style="font-size: calc(2.5vw + 2rem); line-height: 1.2;">Tu futuro</h1> <h1 class="text-white-50" style="font-size: calc(2.5vw + 2rem); line-height: 1.2; ">laboral comienza en Taskify</h1>
            </div>
        </div>
    </div>
</div>

<div class="d-flex bg-white mb-5">
    <div class="container">
        <div class="mt-5">
            <h1 class="text-center" style="font-size: calc(2.5vw + 2rem);">Proyectos</h1>
        </div>
        <div class="row mt-5">
            <div class="col-md-4 text-center position-relative">
                <div class="image-container">
                    <img src="~/img/indexProjWeb.webp" width="320" height="320" style="border-radius: 50%; object-fit: cover; filter: brightness(0.6);">
                    <svg class="white-arc" viewBox="0 0 200 100">
                        <path d="M0,100 Q100,0 200,100 Z" fill="white" />
                    </svg>
                    <div class="proyect position-absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 2;">
                        <h2 class="text-white">Web</h2>
                    </div>

                    <div class="position-absolute vermas" style="bottom: 20px; left: 50%; transform: translateX(-50%); z-index: 2;">
                        <h5 class="vermas text-center text-black">Ver más</h5>
                    </div> 

                    <div class="overlay">
                        <div class="text text-black">Creamos aplicaciones web interactivas y escalables que se adaptan a las necesidades de tu negocio y de tus usuarios.</div>
                    </div>   
                </div>           
            </div>

            <div class="col-md-4 text-center position-relative">
                <div class="image-container">
                    <img src="~/img/indexProjMobile.webp" width="320" height="320" style="border-radius: 50%; object-fit: cover; filter: brightness(0.6);">
                    <svg class="white-arc" viewBox="0 0 200 100">
                        <path d="M0,100 Q100,0 200,100 Z" fill="white" />
                    </svg>
                    <div class="proyect position-absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 2;">
                        <h2 class="text-white">Mobile</h2>
                    </div>
                    <div class="position-absolute vermas" style="bottom: 20px; left: 50%; transform: translateX(-50%); z-index: 2;">
                        <h5 class="vermas text-center text-black">Ver más</h5>
                    </div> 

                    <div class="overlay">
                        <div class="text text-black">Desarrollamos aplicaciones móviles intuitivas y funcionales que mejoran la interacción con tus clientes y optimizan su experiencia.</div>
                    </div>     
                </div>
            </div>

            <div class="col-md-4 text-center position-relative">
                <div class="image-container">
                    <img src="~/img/indexProjHTML.webp" width="320" height="320" style="border-radius: 50%; object-fit: cover; filter: brightness(0.6);">
                    <svg class="white-arc" viewBox="0 0 200 100">
                        <path d="M0,100 Q100,0 200,100 Z" fill="white" />
                    </svg>

                    <div class="proyect position-absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 2;">
                        <h2 class="text-white">HTML</h2>
                    </div>

                    <div class="position-absolute vermas" style="bottom: 20px; left: 50%; transform: translateX(-50%); z-index: 2;">
                        <h5 class="vermas text-center text-black">Ver más</h5>
                    </div> 

                    <div class="overlay">
                        <div class="text text-black">Diseñamos experiencias digitales con HTML semántico, garantizando accesibilidad y rendimiento en todos los dispositivos.</div>
                    </div>  
                </div>
            </div>
        </div>

    </div>
</div>

<div class="Opiniones" style="height: 70vh;">
    <div class="container pt-5">
        <h1 class="text-white fw-bold" style="font-size: calc(2.5vw + 0.5rem); line-height: 1.2;">| Taskify Community</h1>
    </div>
    
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container d-flex align-items-center bg-white p-4 mt-5" style="width: 50%; margin: 0 auto; border-radius: 200px;">
                <div class="row align-items-center">
                    <div class="col-md-4 ms-4 d-flex justify-content-center;">
                        <img src="~/img/person.jpg" style="border-radius: 400px;" alt="Profile Picture" height="300" width="300">
                    </div>
                    <div class="col-md-7 ms-5">
                        <h1 class="mb-4" style="font-size: 3rem; margin: 0;">Fer Campos</h1>
                        <p style="font-size: 1.2rem; margin: 0;">Gracias a Taskify conseguí el trabajo de mi sueño! Estoy emocionada por seguir aprendiendo!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container d-flex align-items-center bg-white p-4 mt-5" style="width: 50%; margin: 0 auto; border-radius: 200px;">
                <div class="row align-items-center">
                    <div class="col-md-5 d-flex justify-content-center">
                        <img src="~/img/SinSesion.png" alt="Profile Picture" height="300" width="300">
                    </div>
                    <div class="col-md-7">
                        <h1 class="mb-4" style="font-size: 3rem; margin: 0;">Username</h1>
                        <p style="font-size: 1.2rem; margin: 0;">Gracias a Taskify conseguí el trabajo de mi sueño! Estoy emocionada por seguir aprendiendo!</p>
                    </div>
                </div>
            </div>
        </div>
            <div class="carousel-item">
                <div class="container d-flex align-items-center bg-white p-4 mt-5" style="width: 50%; margin: 0 auto; border-radius: 200px;">
                    <div class="row align-items-center">
                        <div class="col-md-5 d-flex justify-content-center">
                            <img src="~/img/SinSesion.png" alt="Profile Picture" height="250" width="250">
                        </div>
                        <div class="col-md-7">
                            <h1 class="mb-4" style="font-size: 3rem; margin: 0;">Username</h1>
                            <p style="font-size: 1.2rem; margin: 0;">Gracias a Taskify conseguí el trabajo de mi sueño! Estoy emocionada por seguir aprendiendo!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
