<div class="d-flex flex-column align-items-center bg-secondary" style="min-height: 100vh;">
    <div class="bg-white mt-5 p-5" style="width: 80vw; border-radius: 40px;">
        <div class="bg-success" style="width: 100%; height: 12vh; border-radius: 20px;">
            <div class="container">
                <h3 class="text-white pt-3">Mi perfil</h3>
            </div>
        </div>

        <div class="row mt-5 pt-3">
            <div class="col-md-3 d-flex justify-content-center">
                <img src="~/img/SinSesion.png" alt="Profile Image" style="border-radius: 50%; width: 15vw; height: auto; border: 1px solid black;">
            </div>

            <div class="col-md-4 d-flex align-items-start">
                <div>
                    <div class="mb-2">
                        <span class="h1 text-warning">★★★★☆</span>
                    </div>
                    <h1 class="fw-bold display-4">Crystal Row</h1>
                    <p class="text-muted h3">Bronze <span style="color: bronze;">●</span></p>
                </div>
            </div>

            <div class="col-md-5">
                <h1 class="fw-bold display-4">Habilidades</h1>
                <ul class="list-unstyled ms-5 mt-5">
                    <li class="mb-2">
                        <img src="icon1.png" alt="Icon" style="width: 2rem; vertical-align: middle;"> Lider en comunicaciones
                    </li>
                    <li class="mb-2">
                        <img src="icon2.png" alt="Icon" style="width: 2rem; vertical-align: middle;"> Analista de datos
                    </li>
                    <li class="mb-2">
                        <img src="icon3.png" alt="Icon" style="width: 2rem; vertical-align: middle;"> Desarrollador web
                    </li>
                </ul>
            </div>

            <hr>

            <div class="col-md-8 offset-md-3 mt-4">
                <p class="h3">Soy una profesional proactiva con experiencia en desarrollo web. 
                                Me destaco por mi capacidad para resolver problemas y trabajar
                                en equipo. Siempre busco aprender y crecer, aportando ideas
                                innovadoras y soluciones efectivas. Estoy comprometida con la 
                                calidad y la satisfacción del cliente.</p>
            </div>
        </div>
    </div>

    <div class="bg-dark mt-5 p-5 mb-5" style="width: 80vw; border-radius: 40px;">
        <h1 class="text-white">Portafolio</h1>
        
        <div class="row d-flex justify-content-between mt-5 ms-5">
            <div class="col-4 mb-5 me-5 bg-white shadow-lg" style="max-width: 25vw; border-radius: 40px;">
                <div class="row">
                    <div class="aplicacion col-6 text-white" style="min-height: 40vh; min-width: 100%; border-radius: 40px; overflow: hidden; position: relative;">
                        <p class="mt-4 ms-5">Hace 3 horas</p>
                        <div class="row">
                            <h1 class="col-8 ms-5">Desarollo de Aplicacion Movil</h1>
                        </div>
                        <h4 class="ms-5">Mercado Libre</h4>

                        <div class="d-flex align-items-center justify-content-center" style="border-radius: 10px; width: 23%; height: 12%; background-color: #00481D; opacity: 0.84; position: absolute; bottom: 20px; right: 20px;">
                            <button class="bg-transparent" style="border: 0;"><h3 class="text-white">Más</h3></button>
                        </div>
                    </div>
                    
                    <div class="mt-4 mb-5" style="min-height: 7vh">
                        <div class="row">
                            <div class="col-md-8 offset-md-2">    
                                <h5 class="text-center">Crear una app para gestionar personales, enfocada en la usabilidad y diseño intuitivo.</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</div>
