<div class="Cuenta d-flex justify-content-center" style="min-height: 100vh">
    <div class="bg-white mt-5" style="width: 50vw; max-height: 80vh; border-radius: 50px;">
        <div class="d-flex justify-content-end me-5 pt-5">
            <h5 class="me-3">Ya tiene una cuenta?</h5>
            <div class="d-flex align-items-center"> 
                <a class="text-white bg-danger ps-5 pe-5 fw-bold text-decoration-none" href='@Url.Action("Login")' style="border: 0; border-radius: 100px; min-height: 4vh">Login</a>
            </div>
        </div>
        <div class="">
            <h1 class="fw-bold ms-5 ps-5">Registrarse</h1>
            <form class="mt-5">
                <div class="row ms-5 ps-5">
                    <div class="col-5">
                        <div class="mb-3">
                            <h6 class="fw-bold">Nombre *</h6>
                            <input type="text" class="bg-dark text-light ps-4" placeholder="Ingrese su nombre" style="width: 15vw; border: 0; border-radius: 10px; min-height: 4vh" required>
                        </div>
                        <div class="mb-3">
                            <h6 class="fw-bold">Genero *</h6>
                            <input type="text" class="bg-dark text-light ps-4" placeholder="Ingrese su genero" style="width: 15vw; border: 0; border-radius: 10px; min-height: 4vh" required>
                        </div>
                        <div class="mb-3">
                            <h6 class="fw-bold">Pais *</h6>
                            <input type="text" class="bg-dark text-light ps-4" placeholder="Ingrese su pais" style="width: 15vw; border: 0; border-radius: 10px; min-height: 4vh" required>
                        </div>
                        <div class="mb-3">
                            <h6 class="fw-bold">Email *</h6>
                            <input type="email" class="bg-dark text-light ps-4" placeholder="Ingrese su email" style="width: 15vw; border: 0; border-radius: 10px; min-height: 4vh" required>
                        </div>
                        <div class="mb-3">
                            <h6 class="fw-bold">Contraseña *</h6>
                            <input type="password" class="bg-dark text-light ps-4" placeholder="Ingrese su contraseña" style="width: 15vw; border: 0; border-radius: 10px; min-height: 4vh" required>
                        </div>
                    </div>

                    <div class="col-6 mt-5">
                        <div class="mb-3">
                            <h6 class="fw-bold">Apellido *</h6>
                            <input type="text" class="bg-dark text-light ps-4" placeholder="Ingrese su apellido" style="width: 15vw; border: 0; border-radius: 10px; min-height: 4vh" required>
                        </div>
                        <div class="mb-3">
                            <h6 class="fw-bold">Fecha de Nacimiento *</h6>
                            <input type="text" class="bg-dark text-light ps-4" placeholder="Ingrese su fecha de nacimiento" style="width: 15vw; border: 0; border-radius: 10px; min-height: 4vh" required>
                        </div>
                        <div class="mb-3">
                            <h6 class="fw-bold">Numero de Telefono *</h6>
                            <input type="tel" class="bg-dark text-light ps-4" placeholder="Ingrese su numero de telefono" style="width: 15vw; border: 0; border-radius: 10px; min-height: 4vh" required>
                        </div>
                        <div class="mb-5">
                            <h6 class="fw-bold">Eliga su rol *</h6>
                            <input type="text" class="bg-dark text-light ps-4" placeholder="Eliga su rol" style="width: 15vw; border: 0; border-radius: 10px; min-height: 4vh" required>
                        </div>
                        <div class="mb-3">
                            <input type="password" class="bg-dark text-light ps-4" placeholder="Ingrese su contraseña devuelta" style="width: 15vw; border: 0; border-radius: 10px; min-height: 4vh" required>
                        </div>
                    </div>
                </div>

                <div class="text-center mt-4 mx-auto">
                    <button type="submit" class="bg-success text-white text-center fw-bold shadow-lg" style="width: 10vw; border: 0; border-radius: 20px; height: 7vh">Registrarse</button>
                </div>
            </form>
        </div>
    </div>
</div>