<div class="task">
    <div class="TaskInfo">
        <div class="d-flex justify-content-center titleTask">
            <h1>Task Name</h1>
            <h5>|</h5>
            <h5>Categoría</h5>

        </div>
        <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar bg-success" style="width: 25%">25%</div>
</div>
    </div>

    <div class="contentTask">

    @foreach (Consigna c in ViewBag.ConsignasXTask)
    {
        <h4>@c.Pregunta</h4>

        Dictionary<int, List<Respuesta>> respuestasPorConsigna = ViewBag.RespuestasPorConsigna;

        if (respuestasPorConsigna != null && respuestasPorConsigna.ContainsKey(c.IdConsigna) && respuestasPorConsigna[c.IdConsigna].Any())
        {
            List<Respuesta> respuestas = respuestasPorConsigna[c.IdConsigna]; 

            for (int x = 0; x < respuestas.Count; x++)
            {
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault-@c.IdConsigna" id="flexRadioDefault-@c.IdConsigna-@x">
                    <label class="form-check-label" for="flexRadioDefault-@c.IdConsigna-@x">
                        @respuestas[x].Contenido
                    </label>
                </div>
            }
        }
        else
        {
            <p>No hay respuestas disponibles para esta consigna.</p>
        }
    }

    <a href='@Url.Action("Resultados")'><button href='@Url.Action("Resultados")' type="submit" class="btn btn-success" style="width:50%;">Enviar</button></a>

    </div>

</div>
