html {
  font-family: 'Fredoka';
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.Index {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(../img/fondoHero.webp);
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 80vh;
}

.Opiniones{
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(../img/fondoCommunity.jpeg);
  background-size: cover  ;
  background-repeat: no-repeat;
}

.image-container {
  position: relative;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  overflow: hidden;
}

.rounded-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  filter: brightness(0.6);
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.white-arc {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 160px;
  z-index: 1;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.8s ease;
}

.image-container:hover .overlay {
  height: 100%;
  animation-name: roundborder;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes roundborder {
    100% { border-radius: 40%; }
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.image-container:hover .proyect,
.image-container:hover .white-arc,
.image-container:hover .vermas {
  display: none;
}

.aplicacion{
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(../img/mercadoLibre.webp);
  background-repeat: no-repeat;
  background-size: cover;
}