html {
  font-family: 'Fredoka';
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.Index {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(../img/fondoHero.webp);
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 70vh;
}

