html {
  font-family: 'Fredoka';
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.Index{
  background-image: url(../img/Index.png);
  background-size: cover;
  background-repeat: no-repeat;
}
